<h1>Flash Web System</h1>
<div>
<p>Flash Web System es una consultora moderna, que forma parte de Royal Ahold,
esde una perspectiva integral y moderna, busca contribuir en la solución integral
y eficaz a sus clientes. Estas soluciones abarcan en su forma más general "software",
"hardware", redes de comunicaciones e integración de sistemas. La flexibilidad y
apacidad de adaptación a las nuevas tecnologías es uno de nuestros principios básicos.
Contamos con la experiencia, calidad y equipo certificado para la consultoría, análisis y desarrollo de software a la medida de sus necesidades.
<p>
<ul>
    <li><h3>Objetivos Estratégicos de Flash Web System</h3></li>
    Buscar una rentabilidad de 25% en 10 años.<br>
    Tener personal altamente calificado en las áreas de Desarrollo e Infraestructura y contar con un personal administrativo altamente comprometido.<br>
    Lograr la presencia en los 24 departamentos del Perú.<br>

</ul>
</div>
