
<div class="container">
        <div class="panel panel-reservation panel-space-edit">
            <div class="panel-body">
                <div class="row">
                   
                    <div class="col-md-6 col-md-offset-3">
                        
                        <div style="padding-left: 30px;text-align:justify;">
                            <h1>Acerca de Nosotros</h1>
    
    <p><b>Flash Web Systems</b> es una plataforma en línea que ha reinventado la manera de encontrar y arrendar un estacionamiento. Con miles de visitas al mes, conectamos personas que necesitan un lugar para su auto con dueños de estacionamientos que desean arrendarlos cuando no los usan y transformarlos en dinero extra.</p>
    <p>Estamos convencidos de que la solución a la falta de estacionamientos en las ciudades no pasa por construir nuevos, sino hacer uso de los que ya existen cuando están desocupados. <b>Flash Web Systems</b> desbloquea la real capacidad de estacionamiento de las ciudades a través de sus mismos habitantes, permitiendo que sean parte de la solución.</p>
    <p>Lanzado en abril de 2016, <b>Flash Web Systems</b> está basado en Perú y fue fundado por los <b>alumnos de la UPC</b> , siendo parte del programa de Desarrollo para entorno web.</p>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
