<div class="container">
    <section class="help">
        <h2>Centro de Ayuda</h2>
        <div class="panel">
            <div class="panel-body">
                <div class="col-lg-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li><%= link_to "Como funciona", pages_como_funciona_path %></li>
                        <li class="active"><%= link_to "Arrendatario", pages_arrendatario_path %></li>
                        <li><%= link_to "Arrendador", pages_arrendador_path %></li>
                        <li><%= link_to "Politicas de cancelacion", pages_politicas_de_cancelacion_path %></li>
                    </ul>
                    <aside>
                        <a href="https://www.joldit.com/help/#" class="btn btn-default btn-block" onclick="Zenbox.show();return false;">Contáctanos</a>
                    </aside>
                </div>
                <div class="col-lg-9">
                    <div class="help-content">

    <div class="help-content">
    <div style="padding-left: 30px;text-align:justify;">
                            
    <article>
    <h3 id="t1">Por qué arrendar un estacionamiento con Joldit</h3>
    <p>En Joldit podrás encontrar y reservar un estacionamiento en pocos pasos, para arriendo mensual o por día, y de la manera más conveniente para ti según ubicación, precio y tiempo de arriendo. Los pagos son sencillos pues los realizas en nuestra plataforma, lo que permite que el proceso sea seguro para tí y también para el dueño.</p>
    <p>Además, los estacionamientos son publicados por sus propios dueños, por lo que estarás ayudando a optimizar los espacios de tu ciudad dándoles uso cuando están desocupados (¿para qué construir más estacionamientos si hay muchos que están desocupados?).</p>
    </article>

    <article>
    <h3 id="t2">Cuándo pagas</h3>
    <p>En los arriendos mensuales: Pagas el primer mes de arriendo al momento de recibir una reserva aceptada, y desde el segundo mes en adelante pagas cada mensualidad antes de que comience un nuevo mes.</p>
    <p>En los arriendos diarios: Pagas el monto correspondiente al total de los días reservados (precio por día multiplicado por los días) al momento de recibir una reserva aceptada.</p>
    </article>

    <article>
    <h3 id="t3">Cuándo recibe tus pagos el arrendador</h3>
    <p>Tus pagos no son entregados al arrendador al momento en que los realizas. Nosotros los retenemos por algunos días como medida de respaldo para ambas partes. Así, si tienes algún problema al comenzar el arriendo, tu dinero estará seguro. Y en caso de cualquier problema mayor te devolvemos el 100% de tu dinero.</p>
    <p>En los arriendos mensuales: Entregamos tu pago al dueño del estacionamiento después de 7 días de iniciado el arriendo.</p>
    <p>En los arriendos diarios: Entregamos tu pago 1 día después de terminado el arriendo.</p>
    </article>

    <article>
    <h3 id="t4">Costo del Servicio</h3>
    <p>En Joldit registrarte y hacer solicitudes de arriendo es gratis, sólo te cobramos cuando logras arrendar un estacionamiento con nosotros.</p>

    <p>En un arriendo mensual: Cobramos un 20% del primer mes de arriendo, el que agregamos al monto a pagar. A partir del segundo mes ya no hay costo adicional para tí: sólo debes pagar el valor de arriendo acordado con el dueño.</p>
    <p>Ejemplo: Arriendas un estacionamiento a $50.000. El primer mes deberás pagar $60.000 y a contar del segundo pagarás $50.000</p>

    <p>En un arriendo diario: Cobramos un 20% sobre el precio de cada día reservado.</p>
    <p>Ejemplo: Sí arriendas un estacionamiento por 5 días a un valor de $3.000 diario, nosotros te cobraremos $3.600 por día.</p>
    </article>


                    </div>
                </div>
            </div>
        </section>
    </div>
<div class="pac-container pac-logo" style="display: none; width: 324px; position: absolute; left: 330px; top: 46px;"></div>