<div class="container">
    <section class="help">
        <h2>Centro de Ayuda</h2>
        <div class="panel">
            <div class="panel-body">
                <div class="col-lg-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li><%= link_to "Como funciona", pages_como_funciona_path %></li>
                        <li><%= link_to "Arrendatario", pages_arrendatario_path %></li>
                        <li class="active"><%= link_to "Arrendador", pages_arrendador_path %></li>
                        <li><%= link_to "Politicas de cancelacion", pages_politicas_de_cancelacion_path %></li>
                    </ul>
                    <aside>
                        <a href="https://www.joldit.com/help/#" class="btn btn-default btn-block" onclick="Zenbox.show();return false;">Contáctanos</a>
                    </aside>
                </div>
                <div class="col-lg-9">
                    <div class="help-content">
    <div class="help-content">
    <div style="padding-left: 30px;text-align:justify;">               
                       
    <article>
    <h3 id="t1">Por qué publicar tu estacionamiento</h3>
    <p>En Joldit podrás publicar y arrendar fácilmente tu estacionamiento ganando dinero en esos momentos en que no lo estás ocupando, ya sea durante el día, las noches, de lunes a viernes, fines de semana o lunes a domingo.</p>
    <p>El arriendo está en tu control, pues tú eliges cuánto cobrar y a quién arrendarás, aceptando o rechazando las solicitudes de arriendo que recibas. Además, te olvidas de la cobranza, pues nosotros nos encargamos de cobrar al arrendatario y te alertamos a tiempo si se atrasa.</p>
    <p>Además, publicando y arrendando tu estacionamiento contribuyes a optimizar los espacios de tu ciudad, dándole uso a tu espacio cuando está desocupado (¿para qué construir más estacionamientos si hay muchos que están desocupados?).</p>
    </article>

    <article>
    <h3 id="t2">Cómo y cuándo paga el arrendatario</h3>
    <p>El arrendatario paga su arriendo a Joldit a través de los medios de pago disponibles, y luego nosotros transferimos a tu cuenta lo recaudado (menos el costo de servicio).</p>
    <p>En los arriendos mensuales: El arrendatario paga el primer mes de arriendo al momento de recibir una solicitud aceptada, y desde el segundo mes en adelante paga cada mensualidad antes de que comience un nuevo mes.</p>
    <p>En los arriendos diarios: El arrendatario paga al momento de realizar la reserva el monto correspondiente al total de los días reservados.</p>
    <p>De esta manera tu siempres estás seguro de que quien está usando tu estacionamiento ya pagó por él.</p>
    </article>

    <article>
    <h3 id="t3">Cómo y cuándo recibes el pago</h3>
    <p>Te transferimos el pago recaudado por tu arriendo a los siete días de iniciado el período de arriendo. Para esto, debes ingresar tus datos de cuenta bancaria en la sección Preferencias de Pago en tus opciones de Configuración.
    Ejemplo: si el primer mes de arriendo es desde el 1 de febrero al 1 de marzo, recibirás nuestra transferencia el día 7 de febrero.</p>

    <p>Durante este período de 7 días el Arrendatario puede cancelar la Reserva en Curso si esta no cumple con lo que necesita.</p>
    </article>

    <article>
    <h3 id="t4">Costo del Servicio</h3>
    <p>En Joldit publicar es gratis, sólo te cobramos cuando recibes un pago tras lograr arrendar tu estacionamiento con nosotros.
    <p>En un arriendo mensual: Cobramos un 10% del primer mes de arriendo, valor que descontamos cuando te transferimos ese pago a tu cuenta bancaria. A partir del segundo mes nosotros nos encargamos de cobrar al arrendatario mensualmente y de transferir sus pagos a tu cuenta, servicio que tiene un costo de 7% del pago mensual recaudado.
    Ejemplo: Arriendas tu estacionamiento a $50.000. El primer mes te cobraremos $5.000 (recibirás $45.000 en tu cuenta) y a contar del segundo mes te cobraremos $3.500 (recibirás $46.500 en tu cuenta). Recuerda considerar esto cuando definas el precio que publicarás.</p>
    <p>En un arriendo diario: Cobramos un 10% del valor total de los días reservados (días totales multiplicado por precio diario).
    Ejemplo: Si arriendas tu estacionamiento por 5 días a un valor de $3.000 diario, lo que totaliza $15.000 (5 días multiplicado por $3.000), nosotros te cobraremos $1.500 (recibirás en tu cuenta $13.500). Recuerda considerar esto cuando definas el precio que publicarás.</p>
    </article>

                        </div>
                </div>
            </div>
        </section>
    </div>