<div class="container">
    <section class="help">
        <b><h2>Centro de Ayuda</h2></b>
        <div class="panel">
            <div class="panel-body">
                <div class="col-lg-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li><%= link_to "Como funciona", pages_como_funciona_path %></li>
                        <li><%= link_to "Arrendatario", pages_arrendatario_path %></li>
                        <li><%= link_to "Arrendador", pages_arrendador_path %></li>
                        <li><%= link_to "Politicas de cancelacion", pages_politicas_de_cancelacion_path %></li>
                    </ul>
                    <aside>
                        <a href="https://www.joldit.com/help/#" class="btn btn-default btn-block" onclick="Zenbox.show();return false;">Contáctanos</a>
                    </aside>
                </div>
                <div class="col-lg-9">
                    <div class="help-content">

<div class="help-content">
    <div style="padding-left: 30px;text-align:justify;">
                            
    <div class="col-lg-6">
        <h3>Arrendatario</h3>
        <dl>
        <dt>Encuentra un estacionamiento</dt>
        <dd>Búscalo según la ubicación que necesitas, para tu tipo de auto y por su disponibilidad.</dd>

        <dt>Conoce al dueño</dt>
        <dd>Chequea los datos que tenemos verificados para que puedas arrendar con más tranquilidad.</dd>

        <dt>Envía solicitud de arriendo</dt>
        <dd>Selecciona arriendo mensual o diario, elige la fecha de inicio y término y envía la reserva.</dd>

        <dt>Paga en Joldit</dt>
        <dd>Luego de que el dueño acepte tu solicitud te enviaremos una confirmación para que efectúes el pago.</dd>

        <dt>Úsalo</dt>
        <dd>Luego de pagar, la reserva se activa y puedes usar el estacionamiento a partir de la fecha acordada.</dd>

        <dt>¡Disfruta!</dt>
        <dd>Ya puedes dejar de dar vueltas con tu vehículo o dejarlo estacionado en la calle. Con Joldit ahorras tiempo y dinero.</dd>
        </dl>
    </div>
    <div class="col-lg-6">
        <h3>Arrendador</h3>
        <dl>
          <dt>Publica tu estacionamiento</dt>
          <dd>Tu espacio aparecerá publicado en el mapa en su ubicación real y al precio que definas.</dd>

          <dt>Agrega descripción</dt>
          <dd>Una buena descripción ayudan a incrementar el número de solicitudes que recibes por tu estacionamiento.</dd>

          <dt>Recibe solicitudes de arriendo</dt>
          <dd>Te enviaremos un email cuando alguien solicite arrendar tu estacionamiento. Deberás Aceptarla o Rechazarla antes de las 23:59 hrs. del día anterior al día de inicio.</dd>

          <dt>Acepta una reserva</dt>
          <dd>Luego de aceptar una solicitud, la reserva es formalizada y le cobramos a tu arrendatario el primer pago.</dd>

          <dt>Recibe tu dinero</dt>
          <dd>Nosotros nos encargamos de la cobranza y depositamos tu dinero en tu cuenta bancaria, mes a mes.</dd>

          <dt>¡Compra un nuevo TV!</dt>
          <dd>Disfruta de tu ingreso extra sin moverte de tu escritorio.</dd>
        </dl>
    </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    </main>

<div class="pac-container pac-logo" style="display: none; width: 324px; position: absolute; left: 330px; top: 46px;"></div>
