<div class="container">
    <section class="help">
        <h2>Centro de Ayuda</h2>
        <div class="panel">
            <div class="panel-body">
                <div class="col-lg-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li><%= link_to "Como funciona", pages_como_funciona_path %></li>
                        <li><%= link_to "Arrendatario", pages_arrendatario_path %></li>
                        <li><%= link_to "Arrendador", pages_arrendador_path %></li>
                        <li class="active"><%= link_to "Politicas de cancelacion", pages_politicas_de_cancelacion_path %></li>
                    </ul>
                    <aside>
                        <a href="https://www.joldit.com/help/#" class="btn btn-default btn-block" onclick="Zenbox.show();return false;">Contáctanos</a>
                    </aside>
                </div>
                <div class="col-lg-9">
                    <div class="help-content">
                        
    <div class="help-content">
    <div style="padding-left: 30px;text-align:justify;">   
                            
    <article>
        <h3>Cancelación Anticipada</h3>
        <p>Tanto el Arrendador como el Arrendatario tendrán derecho a la Cancelación Anticipada de una Reserva Confirmada, mediante el envío de un correo electrónico hasta veinticuatro (24) horas antes de la Fecha de Inicio, esté la Reserva pagada o no.</p>
        <p>En caso de Cancelación Anticipada por parte del Arrendador y habiéndose cursado el pago de una Orden de Pago o de la primera de las Ordenes Mensuales, se devolverá al Arrendatario el monto íntegro de lo que hubiere pagado.</p>
        <p>En caso de Cancelación Anticipada por parte del Arrendatario y habiéndose cursado el pago de una Orden de Pago o de la primera de las Ordenes Mensuales, se devolverán al Arrendatario el monto equivalente al Valor de Arriendo más cualquier comisión cobrada, pero excluyendo los costos de transacción y/o cobranza, los cuales no serán reembolsables.</p>
    </article>

    <article>
        <h3>Cancelación Primeros 7 Días</h3>
        <p>Para las Reservas por Período de Arriendo superiores a un mes el Arrendatario tendrá derecho a cancelar su arriendo hasta 7 días después de la Fecha de Inicio de Arriendo, si este no cumple con lo que requería.</p><p>
    </p></article>

    <article>
        <h3>Cancelación Directa</h3>
        <p>No se admite Cancelación Directa en caso de Reservas por un Período de Arriendo inferior o igual a un (1) Mes.</p>
        <p>Para las Reservas por Período de Arriendo superiores a un (1) Mes, tanto el Arrendador como el Arrendatario podrán hacer una Cancelación Directa, la cual deberá efectuarse con una anticipación mínima de una Semana previo al vencimiento de un Mes de arriendo e inicio de un nuevo Mes.</p>
        <p>No obstante lo anterior, si alguna de las partes desea cancelar una Reserva en Curso, tendrá que ser revisado y aprobado por Joldit, y en caso de ser aprobado, solo se devolverá el monto que corresponda al diferencial entre la Fecha de Término y el día de la Cancelación Directa, lo que no dará derecho a devolución de cargo efectuados por concepto de comisiones ni gastos de transacción y/ o cobranza.</p>
    </article>

    <article>
        <h3>Retracto</h3>
        <p>El Arrendador podrá retractarse de un Reserva, esto es, cancelarla intempestivamente, sólo en los siguientes casos y por las siguientes razones:</p>
        <p>a)	No coincidencia del nombre del Arrendatario y de la Placa Patente con la Información Minima Reserva.<br>
        b)	Por encontrarse el vehículo en malas condiciones que pudieran afectar al entorno, la salud de las personas o que falte a la moral o a las buenas costumbres.</p>
        <p>El Arrendatario podrá retractarse de un Reserva, esto es, cancelarla intempestivamente, sólo en los siguientes casos y por las siguientes razones:</p>
        <p>a)	No existencia del Espacio.<br>
        b)	No existencia del dueño del Espacio.<br>
        c)	Por no encontrarse el Espacio en la ubicación detallada.<br>
        d)	Por no encontrarse el Espacio en las condiciones detalladas.<br>
        e)	Por cualquier imprevisto sobreviniente imposible de resistir por el Arrendatario (Ej: Terremoto, incendio o cualquier desastre natural que dañe el Espacio)</p>
    </article>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>