<h1>Términos y Condiciones</h1>

<div class="container">
        <section class="help">
            

            <div class="panel">
                <div class="panel-body">
                    <div style="padding-left: 30px;text-align:justify;">
                    <p><em>Última modificación: 6 de Junio de 2016</em></p>
                    <p>El presente contrato (o “Términos y Condiciones“), entre, Flash Web Systems SpA, Rol Único Tributario N° 76.243.747-3 (“Flash Web Systems") por una parte y, por la otra, el Usuario suscriptor del mismo, establece y regula los términos y condiciones de uso del sitio Web de Flash Web Systems www.Flash Web Systems.com (el “Sitio”), que a continuación se detallan:</p>                    

                    <article>
                        <h4>ANTECEDENTES GENERALES</h4>
                        <p>Estos Términos y Condiciones son vinculantes para cualquier persona que ingrese al Sitio ya sea que se registre o no en el mismo (un "Usuario").</p>
                        <p>Flash Web Systems podrá modificar los Términos y Condiciones en cualquier momento haciendo públicas las modificaciones y los nuevos términos y condiciones, sin necesidad de notificar previamente a sus Usuarios. Los nuevos Términos y Condiciones entrarán en vigor a los diez (10) días de su publicación. Dentro de los cinco (5) días siguientes a la publicación de las modificaciones introducidas, el Usuario deberá enviar un correo electrónico a contacto@Flash Web Systems.com, señalando que no acepta las mismas; en ese caso quedará disuelto el vínculo contractual y será inhabilitado como Usuario siempre que no tenga obligaciones pendientes. Vencido este plazo, se considerará que el Usuario acepta los nuevos términos. Sin perjuicio de lo anterior, se entiende que el Usuario acepta los Términos y Condiciones al hacer uso de los servicios del mismo.</p>
                    </article>

                    <article>
                        <h4>DEFINICIONES</h4>
                        <p>Para los efectos del presente contrato, se entenderá que las palabras señaladas a continuación tendrán el significado que para cada una se indica:</p>
                        <dl class="dl-horizontal">
                            <dt>Arrendatario</dt>
                            <dd>Persona natural o jurídica que arrienda el Espacio de otro Usuario a través del Sitio.</dd>
                            <dt>Arrendador</dt>
                            <dd>Persona natural o jurídica que ofrece para arriendo y/o publica su Espacio en el Sitio.</dd>
                            <dt>Cancelación Anticipada</dt>
                            <dd>Derecho de un Usuario a cancelar una Reserva, pagada o no pagada, antes de la Fecha de Inicio.</dd>
                            <dt>Cancelación Directa</dt>
                            <dd>Derecho a cancelar una Reserva en Curso, existiendo notificación previa y por escrito por parte del notificación por parte del Arrendador o Arrendatario.</dd>
                            <dt>Día de Pago</dt>
                            <dd>Corresponde al dígito día de la Fecha de Inicio, ejemplo: 05-01-2013 = 5.</dd>
                            <dt>Disponibilidad</dt>
                            <dd>Modalidad de arriendo, ejemplos: lunes a viernes, noches, sábado a domingo, etc.</dd>
                            <dt>Espacio</dt>
                            <dd>Estacionamiento.</dd>
                            <dt>Fecha de Inicio</dt>
                            <dd>Fecha en que comienza el arriendo de un Espacio.</dd>
                            <dt>Fecha de Termino</dt>
                            <dd>Fecha en que termina el arriendo de un Espacio.</dd>
                            <dt>Mes</dt>
                            <dd>Equivale a veintiocho (28), veintinueve (29), treinta (30) o treinta y un (31) días corridos, dependiendo del mes calendario que se trate.</dd>
                            <dt>Orden de Pago</dt>
                            <dd>Documento electrónico que se genera por cada Período de Arriendo para ser pagado por el Arrendatario, a través de Web Pay Plus o cualquier otro medio de pago electrónico disponible en el Sitio.</dd>
                            <dt>Período de Arriendo</dt>
                            <dd>Cantidad de días o Meses de arriendo de un Espacio, el cual se calculará según los días o Meses transcurridos desde la Fecha de Inicio hasta la Fecha de Término. (Ej: Fecha de Inicio 1/1/13, Fecha de Término 1/3/13, equivale a un Periodo de Arriendo de 2 Meses; Fecha de Inicio 1/2/13, Fecha de Término 28/2/13 equivale a un Periodo de Arriendo de 27 días).</dd>
                            <dt>Publicar o Publicación</dt>
                            <dd>Proceso mediante el cual un Usuario ingresa al Sitio un Espacio para arriendo, detallando la Información Mínima Publicación, según dicho termino se define más adelante en estos Términos y Condiciones.</dd>
                            <dt>Reserva</dt>
                            <dd>Procedimiento a través del cual un Arrendatario manifiesta su intención de arrendar un Espacio a través del Sitio, por un plazo determinado.</dd>
                            <dt>Reserva en Curso</dt>
                            <dd>Reserva aprobada y pagada, a partir de la Fecha de Inicio.</dd>
                            <dt>Retracto</dt>
                            <dd>Derecho a cancelar intempestivamente - fuera de tiempo- una Reserva.</dd>
                            <dt>Semana</dt>
                            <dd>7 días sucesivos.</dd>
                            <dt>Valor de Arriendo</dt>
                            <dd>Valor total a pagar por una Reserva, exceptuando cobros y comisiones</dd>
                            <dt>Valor Total Arriendo</dt>
                            <dd>Valor a pagar por una Reserva, incluyendo cobros y comisiones.</dd>
                        </dl>
                    </article>

                    <article>
                        <h4>SERVICIO OFRECIDO</h4>
                        <p>El Sitio es una plataforma digital de propiedad de Flash Web Systems, la cual permite a sus Usuarios, arrendar y/ u ofrecer para arriendo, Espacios en cualquier parte de Chile.</p>
                        <p>Flash Web Systems pone a disposición el Sitio únicamente para la Publicación de ofertas de arriendo de estos Espacios. Los contratos de arrendamiento o subarrendamiento de estacionamiento que se pudieren llevar a cabo, se celebrarán única y exclusivamente entre el Usuario Arrendador y el Usuario Arrendatario.</p>
                        <p>Conforme con lo anterior, Flash Web Systems no será, bajo ninguno respecto, considerado como parte contratante en los contratos que celebren sus Usuarios entre sí, y por consiguiente, no asume ninguna obligación ni responsabilidad que pudiera derivar de dichas relaciones contractuales, de cualquier daño en los Espacios arrendados, como tampoco de ninguna relación extracontractual que nazca entre sus Usuarios. Por consiguiente, para todos los efectos legales, Flash Web Systems es y será siempre un tercero ajeno a esa relación contractual y/o extracontractual, y como tal, le serán inoponibles los efectos de cualquier acto jurídico celebrado entre sus Usuarios, no siendo responsable de ningún daño ocurrido en los espacios.</p>
                    </article>

                    <article>
                        <h4>REGISTRO</h4>
                        <p>Para registrarse en el Sitio, el Usuario debe poseer un Rol Único Nacional (“RUN”) y ser mayor de dieciocho (18) años de edad. Si se tratase de una persona jurídica, deberá poseer un Rol Único Tributario (“RUT”) y el RUN del representante o apoderado con poderes suficientes para representarla que haga el proceso de registro.</p>
                    </article>

                    <article>
                        <h4>PUBLICACIÓN Y RESERVAS</h4>
                        <p>Para Publicar un Espacio se requiere que el Usuario Arrendador envíe una solicitud de Publicación con la siguiente información (“Información Mínima Publicación”):</p>

                        <ul>
                            <li>a) Disponibilidad indicando días y horarios;</li>
                            <li>b) Ubicación del Espacio, debiendo señalar la dirección exacta;</li>
                            <li>c) Precio (Diario, Semanal y/o Mensual); y</li>
                            <li>d) Descripción general del Espacio.</li>
                        </ul>
                        <p>Para Reservar un Espacio se requiere que el Usuario Arrendatario envíe una solicitud de Reserva con la siguiente información (“Información Mínima Reserva”):</p>

                        <ul>
                            <li>a) Identificación del Arrendatario indicando su nombre completo y RUT.</li>
                            <li>b) Fecha de Inicio;</li>
                            <li>c) Fecha de Término;</li>
                            <li>d) Descripción de la Reserva; y</li>
                            <li>e) Placa patente del vehículo en el caso de vehículos motorizados que deban contar con ésta para circular legalmente por las calles (Se excluyen aquí las bicicletas y cualquier vehículo que no requiera de placa patente para circular legalmente).</li>
                        </ul>

                        <p>Una vez ingresada la solicitud de Reserva, se notificará al Arrendador correspondiente mediante el envío de un correo electrónico a la dirección de correo electrónico que mantenga actualizada en su información de Usuario (“Notificación Reserva”).</p>
                        <p>El Arrendador deberá aceptar o rechazar la solicitud de Reserva, haciendo clic en el botón “Aceptar Reserva” o “Rechazar Reserva”, dentro del plazo de cuarenta y ocho (48) horas contadas desde la solicitud de Reserva. La inactividad o inacción por parte del Arrendador dentro del plazo se considerará como un rechazo de la Reserva.</p>
                        <p>El rechazo de la Reserva por parte del Arrendador o la llegada del plazo, serán comunicados de inmediato al Arrendatario mediante el envío de un correo electrónico a la dirección que este mantenga actualizada en su información de Usuario.</p>
                        <p>De ser Aceptada la Reserva, y en caso de que esta se hiciera por un Período de Arriendo del Espacio menor o igual a un (1) Mes, se generará una Orden de Pago (la “Orden de Pago”) para el Arrendatario por Valor Total Reserva. En caso de una Reserva por un Período de Arriendo mayor a un (1) Mes, se generarán Órdenes de Pago para el Arrendatario de manera mensual. (“Ordenes Mensuales”).</p>
                        <p>Generada la Orden de Pago o la primera de las Ordenes Mensuales, esta será enviada al Arrendatario junto con la indicación de las distintas alternativas para efectuar el pago.</p>
                        <p>Una vez pagada la Orden de Pago o la primera de las Órdenes Mensuales, se declarará la Reserva como "Reserva Confirmada" y se notificará al Arrendador mediante el envío de un correo electrónico a la dirección de correo electrónico que este mantenga actualizada en el Sitio.</p>
                    </article>

                    <article>
                        <h4>COBROS Y COMISIONES</h4>
                        <p><strong>Al Arrendador</strong></p>
                        <p>Por cada Reserva Confirmada, se le cobrará una comisión equivalente al diez por ciento (10%) de la Orden de Pago o de la primera de las Órdenes Mensuales emitidas al Arrendatario (la “Comisión Arrendador Inicial”). Por las siguientes Órdenes Mensuales se le cobrará asimismo una comisión equivalente al siete por ciento (7%) de cada una de dichas órdenes (la “Comisión Arrendador Mensual”).</p>
                        <p>Las liquidaciones de pago correspondientes, junto con el dinero equivalente el Valor de Arriendo descontada la comisión, pueden ser solicitadas a partir del séptimo día hábil desde la fecha de inicio de la reserva. Este pago será enviado mediante transferencia electrónica bancaria.</p>
                        <p><strong>Al Arrendatario</strong></p>
                        <p>Por cada Reserva Confirmada, se le cobrará una comisión (“Comisión Arrendatario”), la cual estará agregada en monto de la Orden de Pago o a la primera de las Órdenes Mensuales, y equivaldrá al veinte por ciento (20%) del Valor de Arriendo.</p>
                        <p>Esta comisión se paga por única vez, esto es, no se cobrarán comisiones posteriores al Arrendatario por dicha Reserva Confirmada.</p>
                        <p>La Comisión Arrendatario se deducirá de las recaudaciones que efectúe Flash Web Systems por concepto de pago de Orden de Pago y Primera Orden Mensual en nombre del Arrendador.</p>
                    </article>

                    <article>
                        <h4>CANCELACIONES</h4>
                        <p><strong>Cancelación Anticipada</strong></p>
                        <p>Tanto el Arrendador como el Arrendatario tendrán derecho a la Cancelación Anticipada de una Reserva Confirmada, mediante el envío de un correo electrónico hasta veinticuatro (24) horas antes de la Fecha de Inicio, esté la Reserva pagada o no.</p>
                        <p>En caso de Cancelación Anticipada por parte del Arrendador y habiéndose cursado el pago de una Orden de Pago o de la primera de las Ordenes Mensuales, se devolverá al Arrendatario el monto íntegro de lo que hubiere pagado.</p>
                        <p>En caso de Cancelación Anticipada por parte del Arrendatario y habiéndose cursado el pago de una Orden de Pago o de la primera de las Ordenes Mensuales, se devolverán al Arrendatario el monto equivalente al Valor de Arriendo más cualquier comisión cobrada, pero excluyendo los costos de transacción y/o cobranza, los cuales no serán reembolsables.</p>
                        <p><strong>Cancelación Directa</strong></p>
                        <p>No se admite Cancelación Directa en caso de Reservas por un Período de Arriendo inferior o igual a un (1) Mes.</p>
                        <p>Para las Reservas por Período de Arriendo superiores a un (1) Mes, tanto el Arrendador como el Arrendatario podrán hacer una Cancelación Directa, la cual deberá efectuarse con una anticipación mínima de una Semana previo al vencimiento de un Mes de arriendo e inicio de un nuevo Mes.</p>
                        <p>No obstante lo anterior, si alguna de las partes desea cancelar una Reserva en Curso, tendrá que ser revisado y aprobado por Flash Web Systems, y en caso de ser aprobado, solo se devolverá el monto que corresponda al diferencial entre la Fecha de Término y el día de la Cancelación Directa, lo que no dará derecho a devolución de cargo efectuados por concepto de comisiones ni gastos de transacción y/ o cobranza.</p>
                    </article>

                    <article>
                        <h4>RETRACTO</h4>
                        <p>El Arrendador podrá retractarse de un Reserva, esto es, cancelarla intempestivamente, sólo en los siguientes casos y por las siguientes razones:</p>

                        <ul>
                            <li>a) No coincidencia del nombre del Arrendatario y de la Placa Patente con la Información
                        Minima Reserva.</li>
                            <li>b) Por encontrarse el vehículo en malas condiciones que pudieran afectar al entorno, la salud
                        de las personas o que falte a la moral o a las buenas costumbres.</li>
                        </ul>

                        <p>El Arrendatario podrá retractarse de un Reserva, esto es, cancelarla intempestivamente, sólo en los siguientes casos y por las siguientes razones:</p>

                        <ul>
                            <li>a) No existencia del Espacio.</li>
                            <li>b) No existencia del dueño del Espacio.</li>
                            <li>c) Por no encontrarse el Espacio en la ubicación detallada.</li>
                            <li>d) Por no encontrarse el Espacio en las condiciones detalladas.</li>
                            <li>e) Por cualquier imprevisto sobreviniente imposible de resistir por el Arrendatario (Ej: Terremoto, incendio o cualquier desastre natural que dañe el Espacio)</li>
                        </ul>
                    </article>

                    <article>
                        <h4>EXCLUSIÓN DE RESPONSABILIDAD</h4>
                        <p>El Usuario reconoce y declara que su acceso al Sitio y la eventual contratación de los servicios ofrecidos, lo efectúa por su propia cuenta y riesgo, y que en consecuencia, y sin que la siguiente enumeración sea limitativa o exclusiva de otras hipótesis, Flash Web Systems no se responsabiliza por:</p>
                        <ul>
                            <li>a) Errores, omisiones, inexactitudes y/o falsedades en contenidos publicados por el resto de los Usuarios, tanto en sus perfiles como en sus ofertas o publicaciones.</li>
                            <li>b) Cualquier daño o perjuicio al Usuario causado por fallas en el Sitio, software de Flash Web Systems y/o en sus sistemas;</li>
                            <li>c) Cualquier daño o perjuicio ocurrido en los Espacios;</li>
                            <li>d) Cualquier virus que pudiera infectar el equipo del Usuario producto del acceso y/o utilización del Sitio por parte del Usuario, por tanto, el Usuario comprende que el uso de este Sitio está sujeto a su propio riesgo. Producto de lo anterior, si el uso del Sitio deriva en que el Usuario deba incurrir en reparaciones y/o correcciones, contratando algún servicio de mantención de sus equipos computacionales, estos costos deberán ser asumidos por el Usuario, sin tener Flash Web Systems responsabilidad alguna en esta materia. Flash Web Systems EXCLUYE CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y PERJUICIOS DE CUALQUIER NATURALEZA QUE PUEDAN DERIVARSE A LA PRESENCIA DE VIRUS U OTROS ELEMENTOS INFORMÁTICOS QUE PUDIERAN PRODUCIR ALTERACIONES EN LOS SISTEMAS, DOCUMENTOS ELECTRONICOS Y/O CUENTAS Y PERFILES DE LOS USUARIOS.</li>
                            <li>e) No disponibilidad y continuidad del Sitio. Flash Web Systems declara que el sistema puede eventualmente no encontrarse disponible debido a dificultades técnicas, fallas de Internet o razones ajenas a Flash Web Systems, por lo que el Usuario comprende que Flash Web Systems no garantiza el acceso continuo e ininterrumpido del Sitio y/o de secciones del mismo. En caso de interrupción del servicio, Flash Web Systems hará su mejor esfuerzo por restablecer el Sitio y sus servicios con prontitud, sin que de ello pudiera derivarse ningún tipo de obligación ni responsabilidad para Flash Web Systems. Flash Web Systems EXCLUYE CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y PERJUICIOS DE CUALQUIER NATURALEZA QUE PUEDAN DERIVARSE A LA FALTA DE DISPONIBILIDAD Y CONTINUIDAD DEL FUNCIONAMIENTO DEL SITIO Y DE LOS SERVICIOS.</li>
                            <li>f) El monitoreo permanente o eventual del Sitio, de los contenidos e información ingresados por los Usuarios, de los mensajes internos que envían, entre otras acciones que realicen los Usuarios y que queden registradas y guardadas en la plataforma. Sin embargo, el Usuario comprende y acepta que Flash Web Systems tiene el derecho de monitorear el Sitio de manera electrónica, en forma aleatoria, y hacer seguimiento a cualquier información y/o conductas sospechosas de los Usuarios, según el propio criterio de Flash Web Systems y al servicio de la ley, regulaciones y/o requerimientos gubernamentales o de fiscalización, para asegurar la correcta operación del Sitio y para protegerse a sí mismo y a otros Usuarios del Sitio, respecto de conductas que podrían ser fraudulentas y/o atentatorias contra los derechos de los Usuarios.</li>
                            <li>g) Conductas fraudulentas, de acoso, denigratorias, difamatorias, discriminatorias, amenazantes, inmorales, obscenas, pornográficas u ofensivas en que incurran Usuarios del Sitio en sus perfiles o publicaciones.</li>
                            <li>h) Infracciones a leyes de propiedad intelectual incurridas por Usuarios del Sitio, que hayan publicado o transmitido material de terceros que se encuentran resguardados por dichas leyes.</li>
                            <li>i) Suplantación de identidad, es decir, que Usuarios utilicen datos personales de terceros para crear cuentas en Flash Web Systems, y arrendar u ofrecer Espacios a través del Sitio. Sin embargo, Flash Web Systems se Reserva el derecho de verificar las cuentas de manera aleatoria, verificando la veracidad de la información. En caso de detectar fraude, Flash Web Systems podrá cancelar la cuenta y entregar los antecedentes a la justicia chilena, especialmente en casos en que se haya producido un real daño o que denote intención de daño a terceros.</li>
                            <li>j) Cualquier infracción a este Acuerdo que realicen los Usuarios del Sitio o cualquier incumplimiento por parte de los Usuarios de Flash Web Systems de las obligaciones estipuladas en este acuerdo.</li>
                            <li>k) Bajo ninguna circunstancia los trabajadores, accionistas y representantes de Flash Web Systems serán responsables por cualquier daño generado a los Usuarios a partir del uso del Sitio y de sus contenidos. Los trabajadores, accionistas y representantes de Flash Web Systems no serán responsables de los daños generados por errores, omisiones, interrupciones, defectos, retrasos en la información, transmisión, virus computacionales, fallas de sistemas y otros problemas que se produzcan en el Sitio y en sus Contenidos.</li>
                            <li>l) Respecto de los casos enumerados previamente, el Usuario no podrá imputarle responsabilidad legal alguna a Flash Web Systems ni exigir indemnizaciones ni pagos por daño emergente y/o lucro cesante, en virtud de perjuicios derivados de los casos enumerados previamente.</li>
                        </ul>
                    </article>

                    <article>
                        <h4>LEY APLICABLE Y TRIBUNAL COMPETENTE</h4>
                        <p>Los presentes Términos y Condiciones se encuentran sujetos y regidos por las leyes vigentes en la República de Chile.</p>
                        <p>Cualquier conflicto o controversia surgida en relación con los presentes términos, será sometida al conocimiento de los Tribunales competentes de la ciudad de Santiago de Chile. Para estos efectos, y en caso de ser procedente, se entiende que tanto el Usuario como Flash Web Systems, renuncian en este acto y expresamente a cualquier otro fuero, sometiéndose a los Juzgados y Tribunales de la ciudad de Santiago.</p>
                        <p>El Usuario acepta notificar a Flash Web Systems de manera escrita ante cualquier reclamo o disputa concerniente o relativa a este Sitio y a los servicios provistos en el mismo, y dar a Flash Web Systems un plazo razonable para responder al Usuario, antes de comenzar cualquier acción legal contra la Flash Web Systems.</p>
                        <p>Las comunicaciones que el Usuario deba o quiera dirigir a Flash Web Systems, se efectuarán por correo electrónico dirigido a contacto@Flash Web Systems.com, o bien a través de la sección Centro de Ayuda del Sitio.</p>
                        <p>Las comunicaciones que Flash Web Systems deba o quiera dirigir al Usuario, se efectuarán por correo electrónico dirigido a la dirección electrónica indicada por el Usuario al registrarse en el Sitio o bien la que mantenga actualizada en su información de Usuario.</p>
                    </article>

                    <article>
                        <h4>DECLARACIÓN DE ACEPTACIÓN</h4>
                        <p>En este acto y por el presente, el Usuario reconoce haber leído, y comprendido, el contenido íntegro de las Términos y Condiciones del Sitio, declarando expresamente que al presionar el botón de “Acepto” incluido abajo, esta de acuerdo y acepta el contenido de los mismos. Se entiende además que el Usuario también acepta los Términos y Condiciones del Sitio al hacer uso de los servicios del mismo (Ej: hacer una solicitud de reserva o publicar un Espacio).</p>
                    </article>
                </div>
            </div>
        </section>
    </div>