<footer class="footer">
  <!--<small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  Inicio Términos y Condiciones Ayuda Sobre nosotros-->
  <nav>
    <ul class="menu_opciones">
      <li><%= link_to "Inicio",   '#' %></li>
      <li><%= link_to "Terminos y Condiciones", pages_terminos_path %></li>
      <li><%= link_to "Ayuda",   '#' %></li>
      <li><%= link_to "Sobre nosotros",   '#' %></li>
    </ul>
  </nav>
</footer>