<li><%= link_to 'Busqueda Estacionamiento', '/pages/busqueda_estacionamiento' %></li>
<li><%= link_to 'Ofertas', '/pages/ofertas' %></li>
<li><%= link_to 'Preguntas Frecuentes', '/pages/preguntas_frecuentes' %></li>
<li><%= link_to 'Acerca de Nosotros', '/pages/about_us' %></li>
